* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  background-color: #c6dea6;
  background-size: cover;
  height: 100vh;
}

.destinations {
  height: 15vh;
  position: absolute;
  cursor: pointer;
}

#destination1 {
  top: 6%;
  left: 70%;
}

#destination2 {
  top: 23%;
  left: 70%;
}

#destination3 {
  top: 40%;
  left: 70%;
}

#destination4 {
  top: 57%;
  left: 70%;
}

#destination5 {
  top: 74%;
  left: 70%;
}

#hero {
  position: absolute;

  top: 50%;
  left: 10%;
  height: 150px;
}

.trans {
  transition: all 5s;
}

.animatedMatch {
  animation-name: match;
  animation-duration: 6s;

  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes match {
  100% {
    visibility: hidden;
  }
}

.animatedNoMatch {
  animation-name: noMatch;
  animation-delay: 5s;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes noMatch {
  100% {
    top: 50%;
    left: 10%;
  }
}

.animatedTruckMatch {
  animation-name: truckMatch;
  animation-delay: 7s;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes truckMatch {
  100% {
    left: -500px;
  }
}

#prizeImg {
  position: absolute;
  width: 327px;
  top: 20%;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

canvas {
  position: absolute;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
}
