* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bins {
  position: absolute;
}

#bin1 {
  top: 30px;
  left: 50px;
}

#bin2 {
  top: 30px;
  left: 350px;
}

#bin3 {
  top: 230px;
  left: 350px;
}

#lorry {
  position: absolute;
  transition: all 5s;
  top: 300px;
  left: 50px;
}
